<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Registrarse</h2>
      <mat-error *ngIf="regInvalid">
        {{message}}
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="username" required>
        <mat-error>
          Por favor ingresa un email valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nombre" formControlName="name" required>
        <mat-error>
          Por favor ingrese un nombre valido
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Por favor ingresa un password valido
        </mat-error>
      </mat-form-field>
      <div>
        <a mat-button href="/login">¿Ya estas registrado? Inicia sesión</a>
      </div>
      <button mat-raised-button [disabled]="form.invalid || loading" color="primary">
        Registrarse
      </button>
      <div class="loader" *ngIf="loading">
        <mat-spinner diameter="15"></mat-spinner>
      </div>
    </form>
  </mat-card-content>
</mat-card>